@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
:root {
  --gradient: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
}

body {
  min-height: 100vh;
}

.text-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*color: #0B2349;*/
}

.btn-gradient {
  background: var(--gradient);
  color: var(--white);
  border: none;
}

.btn-gradient:hover {
  color: var(--white);
}

.square-img-50 {
  width: 50px;
  height: 50px;
}

.square-img-100 {
  width: 100px;
  height: 100px;
}

.square-img-200 {
  width: 200px;
  height: 200px;
}

.direction {
  min-width: 220px;
}
.direction > a {
  color: #212529;
}
.direction:hover > a {
  text-decoration: none;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
  width: auto;
  padding: 0 15px;
  background-color: #f5f5f5;
}

.media-links > * > *:hover {
  color: #8AA9D6;
}

.media-links > * > * {
  margin: 0 .6rem;
  text-decoration: none;
  color: #0D61BC;
}

.media-links:hover > *:hover {
  text-decoration-line: none;
}

.contacts  > a {
  color: #0D61BC;
}

.contacts > a:hover {
  color: #8AA9D6;
}

.card-img-top {
  height: 200px;
}

/*TIMER*/
.timer{
    margin-bottom: 15px;
}

.timer-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}

.time-block{
    margin: 0 10px 40px;
    width: 90px;
    height: 80px;
    display: inline-block;
    align-items: center;

}

.timer-header{
    text-align: center
}

.numbers{
    padding: 5px;
    text-align: center;
}
.sub{
    font-size: 25px;
}

.switch-danger.custom-control-input:checked~.custom-control-label::before {
  border-color: var(--danger) !important;
  background-color: var(--danger) !important;
}