@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
:root {
  --gradient: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
}

body {
  min-height: 100vh;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*color: #0B2349;*/
}

.gradient-btn {
  background: var(--gradient);
  color: var(--white);
  border: none;
}

.gradient-btn:hover {
  color: var(--white);
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
  width: auto;
  padding: 0 15px;
  background-color: #f5f5f5;
}

.media-links > * > *:hover {
  color: #8AA9D6;
}

.media-links > * > * {
  margin: 0 .6rem;
  text-decoration: none;
  color: #0D61BC;
}

.media-links:hover > *:hover {
  text-decoration-line: none;
}

.contacts > .row > div > a {
  text-decoration: none;
  color: #0D61BC;
}

.contacts > .row > div > a:hover {
  text-decoration-line: none;
  color: #8AA9D6;
}