<h1>Админ-панель</h1>
<div class="row">
  <a href="/admin/novatorweb" class="btn btn-gradient col-auto m-auto w-25">Перейти в NovatorWEB</a>
  <a href="/admin/blog" class="btn btn-gradient col-auto m-auto w-25">Перейти в блог</a>
</div>
<br>
<h4>Загрузить изображение на сервер</h4>
<form action="/admin" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="image" id="image" for="preview" accept="image/*" onchange="loadImage(event, this)">
        <label class="custom-file-label" for="image" data-browse="Выберите изображение">Если имена совпадают, то изображение будет переписано</label>
      </div>
    </div>
  </div>
  <img class="preview mx-3" id="preview" alt="" src="">
  <br>

  <button type="submit" class="btn btn-success">Отправить</button>
</form>