% direction = get('direction', {})
<h3>Новое направление</h3>
<form action="/admin/novatorweb/{{'edit?id=' + direction.get('name') if direction else 'new'}}" method="POST" enctype="multipart/form-data">
  <div class="form-group mb-4">
    <label for="name">Название</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Название направления" value="{{direction.get('name', '')}}" autocomplete="off" required>
  </div>

  <div class="from-group mb-2">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="del_image" name="del_image">
      <label class="custom-control-label" for="del_image">Удалить/не загружать изображение к направлению</label>
    </div>
  </div>

  <div class="form-group">
    <label for="image">Иконка направления</label>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="image" id="image" for="preview" accept="image/*" onchange="loadImage(event, this)">
        <label class="custom-file-label" for="image" data-browse="Выберите изображение">Лучше использовать квадратную, размером 200x200</label>
      </div>
    </div>
    <br>
    <img class="preview mx-3 square-img-200" id="preview" alt="" src="{{'/images/novator/' + direction.get('img') if direction.get('img') else ''}}">
  </div>

  <label for="video">Ссылка на видео</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">https://youtu.be/</span>
    </div>
    <input type="text" class="form-control" placeholder="zpOULjyy-n8" id="video" name="video" value="{{direction.get('video', '')}}">
  </div>

  <label for="doc">Положение о направлении</label>
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="doc" id="doc" accept="application/zip,application/pdf,application/msword" onchange="loadFile(event, this)" {{'' if direction else 'required'}}>
      <label class="custom-file-label" for="doc" data-browse="Выберите документ">
        {{direction.get('doc', 'Документ о положении в данном направлении')}}
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-gradient">Отправить</button>
</form>