<h3 class="m-4 mb-0">О нас</h3>
<p class="mb-4 ml-4 lead">Если ты хочешь заявить о себе - тебе к нам!
Здесь ты можешь реализовать свои идеи, раскрыть таланты и найти новых друзей!</p>
<a class="ml-4 btn btn-primary btn-gradient" href="//1000-list-nick.com/about">Подробнее</a>
<br>
<h3 class="m-4">Последние новости <a href="/blog"><i class="fas fa-link fa-sm"></i></a></h3>

% if get("posts"):
<div class="row">
  % for i in posts:
  <div class="col-sm-6 mb-3">
    <div class="card mb-3">
      % if i['img']:
      <img src="images/{{i['img']}}" class="card-img-top" alt="{{i['title']}}">
      % else:
        % include('view/svg_gradient.html', *args, **kwargs)
      % end
      <div class="card-body">
        <h5 class="card-title">{{i['title']}}</h5>
        <p class="card-text">{{i.get('short') or i['content'].split('.')[0]}}</p>
      </div>
      <div class="card-body">
        <a href="/blog/{{i['title']}}" class="card-link gradient-text">Перейти к новости</a>
      </div>
    </div>
  </div>
  % end
</div>
% else:
<p class="mb-4 ml-4 lead">Новостей нет...</p>
% end