% displayed_pages = get("displayed_pages", 5)
% pages = list(range(1, max_pages+1))
% cur_block = pages.index(cur_page) // displayed_pages
% block = pages[max(0, cur_block*displayed_pages-1):(cur_block+1)*displayed_pages+1]
% if len(pages) != 1:
<nav>
  <ul class="pagination justify-content-center">
    % if cur_page != 1:
      <li class="page-item">
        <a class="page-link" href="/blog?page={{cur_page-1}}">&larr;</a>
      </li>
    % end
    % for i in block:
      % if i == cur_page:
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{i}}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      % else:
        <li class="page-item"><a class="page-link" href="/blog?page={{i}}">{{i}}</a></li>
      % end
    % end
    % if cur_page != max_pages:
      <li class="page-item">
        <a class="page-link" href="/blog?page={{cur_page+1}}">&rarr;</a>
      </li>
    % end
  </ul>
</nav>
% end